#nav-container {
  display:flex;
  list-style: none;
  width: 100vw;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: black; 
  }
  padding: 24px 48px;
  box-sizing: border-box;
  #brand {
    font-size: 36px;
    text-decoration: none;
    .red {
      color: #D63447;
    }
  }
  #nav-right-container {
    display: flex;
    .nav-item {
      padding-left: 18px;
      display: flex;
      align-items: center;
      #cart-icon {
        color: #DD0000;
      }
      #account-icon {
        margin-right:4px;
      }
    }
  }

}
